In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = "data/Prelimenary_Data.xlsx"

df = pd.read_excel(file_name,
header=0,
index_col=False,
keep_default_na=True
)

In [3]:
df.isnull().sum()

Id                             614
/Trial/Condition               614
/Trial/Countries               108
/Trial/Date_registration         0
/Trial/Intervention             22
/Trial/Phase                   131
/Trial/Recruitment_Status        0
/Trial/results_date_posted     311
/Trial/results_url_link        380
/Trial/results_yes_no          235
/Trial/Scientific_title         70
/Trial/Source_Register           2
/Trial/TrialID                   0
/Trial/web_address               0
ICD-10 Code                    208
Trial Success                 1633
Notes                         4799
Controlled                       0
Randomized                       0
Single_Blind                     0
Double_Blind                     0
Triple_blind                     0
Terminated                       0
Active                           0
Pharmacokinetics                 0
Safety                           0
dtype: int64

In [4]:
occurences = pd.DataFrame(df['ICD-10 Code'].value_counts())
test2 = occurences[occurences['ICD-10 Code'] < 5]
test2 = test2.sort_index()

In [5]:
len(occurences)

981

In [6]:
old = "UNIQUE"
nums = 0
total = 0
foo = []

for i in range(len(test2)):
    if old[0:3] in test2.index[i]:
        if nums == 0:
            total += test2.values[i-1]
            #print(old, test2.values[i-1])
            foo[i-1] = old[0:3]
            #print(test2.index[i], test2.values[i])
        foo.append(old[0:3])
        total += test2.values[i]
        nums += 1 
    else:
        
        if nums != 0:
            pass
            #print(old[0:3],total)
            #print("\n")
        foo.append("")
        nums = 0
        total = 0
        old = test2.index[i]
        
test2.insert(1, "groups", foo, True)

In [7]:
test2.head(50)

               ICD-10 Code groups
47.1                     1
A01.0                    4
A03.3                    1    A03
A03.9                    1    A03
A04.4                    2
A08.0                    2    A08
A08.3                    1    A08
A09.0                    1    A09
A09.9                    1    A09
A15.3                    3
A16.2                    1    A16
A16.9                    4    A16
A22.9                    2
A31.9                    1
A35                      1
A39.0†;G01*              1    A39
A39.4                    1    A39
A49.0                    2
A54.9                    2
A55                      1
A59.0                    2
A60.0                    1
A63.0                    1
A80.9                    1
A82.9                    1
A84.9                    1
A91                      1
A92.0                    1
A98.4                    4    A98
A98.5                    1    A98
B00.1                    2    B00
B00.9                    2    B00
B02.2                    1    B02
B02.2+;G53.0*            4    B02
B02.2†;G53.0*            1    B02
B02.9                    2    B02
B03                      2
B08.1                    2
B16.9                    4
B17.1                    4
B18.9                    2
B19.2                    1
B20.9                    1
B26.9                    1
B34.9                    2
B35.3                    2
B36.9†;H62.2*            1
B37.3                    1    B37
B37.3+;N77.1*            3    B37
B44.9                    1

In [8]:
len(df)

6340