In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = "2017_Second Export.xlsx"

df = pd.read_excel(file_name,
header=0,
index_col=False,
keep_default_na=True
)

In [3]:
len(df)

410

In [4]:
occurences = pd.DataFrame(df['ICD-10 Code'].value_counts())
test2 = occurences.loc[occurences['ICD-10 Code'] < 5]
test2 = test2.sort_index()

In [5]:
len(occurences)

237

In [6]:
old = "UNIQUE"
nums = 0
total = 0
foo = []

for i in range(len(test2)):
    if old[0:3] in test2.index[i]:
        if nums == 0:
            total += test2.values[i-1]
            print(old, test2.values[i-1])
            foo[i-1] = old[0:3]
            print(test2.index[i], test2.values[i])
        foo.append(old[0:3])
        total += test2.values[i]
        nums += 1 
    else:
        
        if nums != 0:
            print(old[0:3],total)
            print("\n")
        foo.append("")
        nums = 0
        total = 0
        old = test2.index[i]
        
test2.insert(1, "groups", foo, True)

B18.1 [1]
B18.2 [1]
B18 [2]


C16.0 [3]
C16.9 [3]
C16 [6]


C22.1 [1]
C22.9 [1]
C22 [2]


C44.3 [1]
C44.4 [3]
C44.9 [1]
C44 [5]


C71.6 [1]
C71.9 [3]
C71 [4]


C80.0 [1]
C80.9 [4]
C80 [5]


C81.7 [3]
C81.9 [1]
C81 [4]


C83.1 [1]
C83.3 [2]
C83 [3]


C88.0 [1]
C88.4 [1]
C88 [2]


D59.1 [1]
D59.5 [2]
D59 [3]


E78.0 [2]
E78.9 [1]
E78 [3]


F10.1 [1]
F10.2 [2]
F10 [3]


G30.0 [1]
G30.9 [1]
G30 [2]


G47.0 [1]
G47.2 [1]
G47.3 [4]
G47 [6]


I25.1 [2]
I25.9 [1]
I25 [3]


I51.6 [3]
I51.9 [1]
I51 [4]


J30.2 [1]
J30.4 [1]
J30 [2]


K03.6 [1]
K03.8 [1]
K03 [2]


K63.5 [1]
K63.9 [2]
K63 [3]


L63.0;L63.1 [1]
L63.9 [1]
L63 [2]


L71.8 [1]
L71.9 [1]
L71 [2]


M77.1 [1]
M77.9 [1]
M77 [2]


N39.0 [1]
N39.4 [1]
N39 [2]


N81.4 [1]
N81.9 [1]
N81 [2]


Q81.0 [2]
Q81.2 [1]
Q81 [3]


Y48.3 [1]
Y48.4 [1]
Y48 [2]

In [7]:
test2.head(50)

               ICD-10 Code groups
A16.7                    1
A39.0†;G01*              1
A41.9                    1
A49.1                    2
A55                      1
A60.0                    1
A80.9                    1
B00.1                    1
B02.2†;G53.0*            1
B07                      2
B08.1                    1
B18.1                    1    B18
B18.2                    1    B18
B24                      3
B36.9†;H62.2*            1
B54                      2
B79                      1
B83.9                    1
B95.2                    1
B96.8                    1
B97.7                    1
C16.0                    3    C16
C16.9                    3    C16
C18.9                    1
C22.1                    1    C22
C22.9                    1    C22
C25.9                    3
C43.9                    2
C44.3                    1    C44
C44.4                    3    C44
C44.9                    1    C44
C45.9                    1
C56                      2
C64                      2
C67.9                    4
C68.9                    1
C71.6                    1    C71
C71.9                    3    C71
C73                      1
C79.5                    1
C80.0                    1    C80
C80.9                    4    C80
C81.7                    3    C81
C81.9                    1    C81
C83.1                    1    C83
C83.3                    2    C83
C84.4                    1
C85.9                    1
C88.0                    1    C88
C88.4                    1    C88

In [8]:
len(df)

410

In [ ]:
!pip install